html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed, 
 figure, figcaption, footer, header, hgroup, 
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: baseline;
 }
 
 article, aside, details, figcaption, figure, 
 footer, header, hgroup, menu, nav, section {
     display: block;
 }

 body { line-height: 1; } 

 ol, ul { list-style: none; }

 blockquote, q { quotes: none; }

 blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

 table { border-collapse: collapse; border-spacing: 0; }

 /*end: Reset CSS*/

 b {
    font-weight : bold;
 }

 body {
 background-color:#2c2c2c;
 color: #cacaca;
 font-family: Arial, Tahoma;
 font-size:14px;
 line-height:22px;
 padding:15px;
 }

 h1 {
 font-size:18px;
 font-weight:bold;
 color:#c099c0;/* #de87da; /*#f66; #de87da;*/
 }

 h2 {
 font-size:16px;
 font-weight:bold;
 color: #779fcf; /*#abf; /*orange; #dfaf87;*/
 padding-top: 10;
 }

 hr {
 background-color: #888;
 border-color: #666;
 height:1px;
 }

 a {
    color: #abf; /*#87afdf;*/
 }

 a:hover 
{
    color:#0bc; /*#00A0C6;*/
    cursor:pointer;  
}

 .redtext,.red_text,.red_btext {
 color: #ca714e; /*#de87da;*/
 }

 .bluetext,.blue_text,.blue_btext {
 color:#779fcf;
 }

 .greentext,.green_text,.green_btext {
 color: #5cbb5c; /*#6ccb6c; /*#87de8c;*/
 }

 .red_btext,.blue_btext,.green_btext {
 font-weight:bold;
 }

 .log_level_notice,.log_level0 {
 /*font-size:12px;*/
 }

 .log_level_info,.log_level1 {
  color: #a0a0a0;
 }

 .log_level_debug,.log_level2 {
  color:#808080;
 }

 .log_level_error {
  color: #ca714e; /*#f44; #de87da;*/
 /*font-weight:bold;*/
 }
 
 .log_level_warning {
  color: #d79f58; /*orange; /*#d66; #de87da;*/
 }
 
 .log_todo {
  color: #de87da;
 }
 
 .log_xplan {
 color:#779fcf;
 /*font-size:14px;*/
 font-family:Consolas,Monaco,Courier;
 }
 
 .test_text {
 font-size:12px;
 font-weight:bold;
 } 

 .code {
 color:#d79f58;
 white-space: pre;
 display: block;
 font-family:Consolas,Monaco,Courier;
 /*font-size: 14px;*/
 }

 table { 
 border: 2px solid #666; 
 /*margin: 20 0 20 0;*/
 color:#ccc;/*809cc0; /*#87afdf;*/
 }

 th {
 background-color:#0f0f15;
 border:1px solid #666;
 font-weight:bold;
 text-align:center;
 padding:5px;
 }
 
 .th_red {
 background-color:#633; /*#422;*/
 border:1px solid #446082;
 }
 
 .th_gray {
 background-color:#333;
 border:1px solid #446082;
 }

 caption {
 font-size:16px;
 /*color: #779fcf;*/
 font-weight:bold;
 text-align:center;
 }
 
 td {
 border:1px solid #696969;
 /*font-size:14px;*/
 padding:5px 10px;
 }

 tr:nth-child(even) {
 background:#1f1f28;
 }

 tr:nth-child(odd) {
 background:#2f2f38;
 }
 
 .even {
 background:#1f1f28;
 }

 .odd {
 background:#2f2f38;
 }

 ul {
    padding-left: 20;
    list-style-type: disc;
 }
 
 .t_img {
    font-family: Consolas, Courier;
    font-size: 10px;
    line-height: 10px;
    mso-line-height-rule:exactly;
 }  