html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed, 
 figure, figcaption, footer, header, hgroup, 
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: baseline;
 }
 
 article, aside, details, figcaption, figure, 
 footer, header, hgroup, menu, nav, section {
     display: block;
 }

 body { line-height: 1; } 

 ol, ul { list-style: none; }

 blockquote, q { quotes: none; }

 blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

 table { border-collapse: collapse; border-spacing: 0; }

 /*end: Reset CSS*/

 b {
    font-weight : bold;
 }

 body {
 background-color:#dcdcdc;
 font-family: Arial, Tahoma;
 font-size:14px;
 line-height:22px;
 padding:15px;
 }

 h1 {
 font-size:18px;
 font-weight:bold;
 color:#244062;
 }

 h2 {
 font-size:16px;
 font-weight:bold;
 color:#000;
 padding-top: 10;
 }

 hr {
 background-color: #006699;
 color: #006699;
 height:1px;
 }
 
 .redtext,.red_text,.red_btext {
 color:#dc143c;
 }

 .bluetext,.blue_text,.blue_btext {
 color:#000095;
 }

 .greentext,.green_text,.green_btext {
 color:#006400;
 }

 .red_btext,.blue_btext,.green_btext {
 font-weight:bold;
 }

 .log_level_notice,.log_level0 {
 }

 .log_level_info,.log_level1 {
 color:#555;
 }

 .log_level_debug,.log_level2 {
 color:#777;
 }

 .log_level_error {
 color:#cc143c;
 font-weight:bold;
 }
 
 .log_level_warning {
 color:#bc143c;
 }
 
 .log_todo {
 font-weight:bold;
 }
 
 .log_xplan {
 font-family:Consolas,Monaco,Courier;
 font-size:12px;
 }

 .code {
 font-family:Consolas,Monaco,Courier;
 white-space: pre;
 display: block;
 }

 table { 
 border: 2px solid #808080; 
 /*margin: 20 0 20 0;*/
 }

 th {
 background-color:#244062;
 color:#ddd;
 border:1px solid #446082;
 font-weight:bold;
 text-align:center;
 padding:5px;
 }
 
 .th_red {
 background-color:#990000;
 }
 
 .th_gray {
 background-color:#aaaaaa;
 }

 caption {
 font-size:16px;
 font-weight:bold;
 text-align:center;
 }
 
 td {
 border:1px solid #696969;
 padding:5px 10px;
 }

 tr:nth-child(even) {
 background:#D9D9EC;
 }

 tr:nth-child(odd) {
 background:#d3d3d3;
 }
 
 .even {
 background:#D9D9EC;
 }

 .odd {
 background:#d3d3d3;
 }

 ul {
    padding-left: 20;
    list-style-type: disc;
 }

